In [1]:
#Libraries we are using (might add more later)
import torch #Pytorch
import matplotlib as plt #Matplotlib
import seaborn as sns #Seaborn
import numpy as np
import pandas as pd

# Electric Power Consumption 
The data set for this project can be found [here](https://www.kaggle.com/datasets/fedesoriano/electric-power-consumption).

In [2]:
df = pd.read_csv('powerconsumption.csv')

In [3]:
print(f'Features: {df.columns} \nShape: {df.shape}')

Features: Index(['Datetime', 'Temperature', 'Humidity', 'WindSpeed',
       'GeneralDiffuseFlows', 'DiffuseFlows', 'PowerConsumption_Zone1',
       'PowerConsumption_Zone2', 'PowerConsumption_Zone3'],
      dtype='object')
Shape: (52416, 9)

#### Input / Output

<p>Inputs: Date + time, Temperature, Humidity, Windspeed </p>
Outputs = Power consumption in certain zones (lets start with zone 1)

In [4]:
display(df)

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...
52411,12/30/2017 23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017 23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017 23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017 23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017 23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [5]:
a,b = df['Datetime'][1].split(" ")

In [6]:
print(a)

1/1/2017

In [7]:
print(b)

0:10

In [8]:
df[['Date', 'Time']] = df['Datetime'].str.split(" ", expand=True)
df = df.drop('Datetime',axis=1)

In [9]:
display(df)

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3,Date,Time
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386,1/1/2017,0:00
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434,1/1/2017,0:10
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373,1/1/2017,0:20
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711,1/1/2017,0:30
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964,1/1/2017,0:40
...,...,...,...,...,...,...,...,...,...,...
52411,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212,12/30/2017,23:10
52412,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152,12/30/2017,23:20
52413,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259,12/30/2017,23:30
52414,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504,12/30/2017,23:40
52415,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820,12/30/2017,23:50

In [10]:
col = df.pop('Date')
df.insert(0,'Date',col)
col = df.pop('Time')
df.insert(1,'Time',col)

In [11]:
display(df)

,Date,Time,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,1/1/2017,0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017,0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017,0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017,0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017,0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...,...,...
52411,12/30/2017,23:10,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,12/30/2017,23:20,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,12/30/2017,23:30,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,12/30/2017,23:40,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,12/30/2017,23:50,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [12]:
df.isna().sum() #No na values :)

Date                      0
Time                      0
Temperature               0
Humidity                  0
WindSpeed                 0
GeneralDiffuseFlows       0
DiffuseFlows              0
PowerConsumption_Zone1    0
PowerConsumption_Zone2    0
PowerConsumption_Zone3    0
dtype: int64

In [13]:
print(df['PowerConsumption_Zone1'].min())
print(df['PowerConsumption_Zone1'].max())

13895.6962
52204.39512

#### Simple Neural Network

For a simple neural network, we will be looking at Zone 1, and estimating the power consumption while theyre rounded

In [23]:
dfs = df.copy()
dfs['PowerConsumption_Zone1'] = (df['PowerConsumption_Zone1']/100000).round(1) * 100000
print(df['PowerConsumption_Zone1'])

0        34055.69620
1        29814.68354
2        29128.10127
3        28228.86076
4        27335.69620
            ...
52411    31160.45627
52412    30430.41825
52413    29590.87452
52414    28958.17490
52415    28349.80989
Name: PowerConsumption_Zone1, Length: 52416, dtype: float64

In [25]:
print(dfs['PowerConsumption_Zone1'])
print(dfs['PowerConsumption_Zone1'].value_counts())

0        30000.0
1        30000.0
2        30000.0
3        30000.0
4        30000.0
          ...
52411    30000.0
52412    30000.0
52413    30000.0
52414    30000.0
52415    30000.0
Name: PowerConsumption_Zone1, Length: 52416, dtype: float64
PowerConsumption_Zone1
30000.0    23276
40000.0    16422
20000.0    10396
50000.0     2315
10000.0        7
Name: count, dtype: int64